/* You can add global styles to this file, and also import other style files */

.banner-container {
  width: 100%;
  height: 200px; /* Define a fixed height for the container */
  overflow: hidden; /* Hide anything that overflows */
  position: relative; /* Establish a positioning context for the absolute image */
  text-align: center;
  background: #eaeaea;
}

.app-banner {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Image will cover the container, cropping if necessary */
  display: block; /* Ensure it behaves as a block element */
  margin: auto;
  max-width: 467px;
  
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px; /* Add some space above the footer */
  background-color: #f0f0f0;
  color: #666;
  border-top: 1px solid #e0e0e0;
}

@media (max-width: 550px) {
  .app-banner {
    height: auto;
    object-fit: contain;
    max-width: 100%;
  }
}