.banner {
  width: 100%; /* Ensure banner takes full width */
  height: 300px; /* Example fixed height for the banner area, adjust as needed */
  overflow: hidden; /* Hide any overflow if image is larger */
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will make the image cover the entire banner area */
}

.all-course-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Keep gap for spacing */
  justify-content: center;
  align-items: stretch; /* Ensures cards in the same row have equal height */
  padding: 20px; /* Add padding around the container */
}

.course-card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensures all cards in a row try to match height */
  overflow: hidden; /* Ensure content stays within card boundaries */
  flex-basis: 300px; /* Base width for each card */
  max-width: 350px; /* Maximum width for each card */
}

.course-card .course-thumbnail-img {
  height: 200px; /* Fixed height for images */
  object-fit: cover; /* Ensure images cover the area without distortion */
  width: 100%; /* Ensure image takes full width of the card */
}

.course-card mat-card-header {
  padding-bottom: 0;
}

.course-card mat-card-title {
  font-size: 1.2em;
  font-weight: bold;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
}

.course-card mat-card-subtitle {
  color: #757575;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-card mat-card-content {
  flex-grow: 1; /* Allows content to expand */
  padding-top: 10px;
}

.course-card mat-card-actions {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

.no-courses {
  text-align: center;
  grid-column: 1 / -1; /* Center across all columns */
  padding: 40px;
  color: #999;
  font-style: italic;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: #f0f0f0;
  color: #666;
  border-top: 1px solid #e0e0e0;
}
